/*Estilos comúnes*/

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black !important;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid #b19277;
}

button {
  background: transparent !important;
  border: transparent;
  cursor: pointer ;
}
