/*Estilos comúnes*/

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black !important;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #9c795a;
}

hr {
  border: none;
  border-top: 1px solid #b19277;
}

button {
  background: transparent !important;
  border: transparent;
  cursor: pointer ;
}

.btn {
  text-transform: uppercase;
  background: #b19277 !important;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 0.188rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  border-color: transparent;
}

.pagina-completa {
  /*100vh es el tamaño de la página 
  completa pero hay que restarle los 
  10 rem de la navbar, si no, la aplasta*/
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
}

.pagina-espacio-central {
  /*100vh es el tamaño de la página 
  completa pero hay que restarle los 
  10 rem de la navbar y los 20vh de espacio restante*/
  min-height: calc(100vh - (20vh + 10rem));
}

/*Los estilos de las secciones en general*/
.section {
  padding: 5rem 0;
}
.section-centrada {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

/*Estilos relacionados de los productos destacados*/
.titulo {
  text-align: center;
}

/*Los estilos de whatsapp*/
.whatsapp_float {
	position:fixed;
	width:3.75rem;
	height:3.75rem;
	bottom:2.5rem;
	right:2.5rem;
	background-color:#25d366;
	color:#FFF;
	border-radius:3.125rem;
	text-align:center;
  font-size:1.875rem;
	box-shadow: 0.125rem 0.125rem 0.188rem #999;
  z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
  .whatsapp-icon {
    margin-top:0.625rem;
  }
  .whatsapp_float {
    width: 2.5rem;
    height: 2.5rem;
    bottom: 1.25rem;
    right: 0.625rem;
    font-size: 22px;
  }
}